---
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro'
let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
import Nav from '../components/Nav.svelte'

let allPosts = Astro.fetchContent('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body >
  <Nav client:visible/>
  <h1>Blog</h1>
  <p>
          <section>
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
  </body>
</html>
