---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import VideoHero from '../components/VideoHero.svelte'
import LatestBlogPosts from '../components/LatestBlogPosts.astro'
// import FlipbookAnimation from '../components/FlipbookAnimation.svelte'
// import Nav from '../components/Nav.svelte'
import Layout from '../components/Layout.astro'


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <!-- <link rel="stylesheet" href="/global.css"> -->
  </head>

  <body >
  <!-- <FlipbookAnimation client:load/> -->
  <Layout>
  <VideoHero slot="hero" client:load  src="/assets/nick_guitar_clip.m4v" />
  <LatestBlogPosts client:visible/>
  
  </Layout>
  </body>
</html>
