---
import BaseHead from '../components/BaseHead.astro';
let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
import Layout from '../components/Layout.astro'
import Music from '../components/Music.svelte'
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body >
  <Layout currentPath="/music"  >
    <Music client:load/>
  </Layout>
  
  </body>
</html>
