<section class="text-white relative container mx-auto px-2">
 <h4 class="text-lg font-bold">Bio</h4>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur distinctio blanditiis labore ut enim voluptate, repudiandae hic debitis excepturi, ipsa aliquam soluta dolor expedita reprehenderit corrupti laboriosam voluptatibus ducimus sit?</p>
</section>

<style>
section {
    min-height: 80vh;
}
</style>
