---
export interface Props {
  heroImageSrc?: string;
  isTransparent?: boolean;
}
import Nav from '../components/Nav.svelte'
import Hero from '../components/Hero.svelte'
import Footer from '../components/Footer.astro'

const { heroImageSrc, isTransparent} = Astro.props;
---

{heroImageSrc && <Hero client:load src={heroImageSrc}/>}
<Nav isTransparent={isTransparent} client:load/>
<slot name="hero"/>
<div id="main">
<slot/>
</div>
<Footer/>

