---
export interface Props {
  heroImageSrc?: string;
  isTransparent?: boolean;
  currentPath?: string;
}
import Nav from '../components/Nav.svelte'
import Hero from '../components/Hero.svelte'
import Footer from '../components/Footer.astro'

const { heroImageSrc, isTransparent, currentPath} = Astro.props;
---
<div id="mainContainer">
  <div>
    {heroImageSrc && <Hero client:load src={heroImageSrc}/>}
    <Nav isTransparent={isTransparent} client:load currentPath={currentPath}/>
    <slot name="hero"/>
  </div>

  <div id="mainBody">
    <slot/>
  </div>

<Footer/>
</div>

<style>
  #mainContainer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  #mainBody {
    overflow-x: auto;;
  }
</style>