---
import BlogPostPreview from '../components/BlogPostPreview.svelte';

let allPosts = Astro.fetchContent('../pages/posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.published).valueOf() - new Date(a.published).valueOf());
---
  <h1 class="text-4xl font-bold ml-8 mt-8">latest</h1>
<section class=" flex flex-nowrap overflow-x-auto px-8 py-2 pb-8">
      {allPosts.map(p => 
        <div class="pr-8">
          <BlogPostPreview  post={p} />
        </div>
      )}
</section>

<style>
  section {
    -webkit-overflow-scrolling: touch;
  }
  section div {
       flex: 0 0 auto;
  }
</style>